/* ============================================================
   6. ANIMATIONS
   ============================================================ */

@keyframes mover-arriba {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}

@keyframes mover-abajo {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(50%);
  }
}

@keyframes mover-izquierda {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes mover-derecha {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50%);
  }
}
